body {

  font-family: "Palatino Linotype" sans-serif;
  padding: 2;
  margin: 2;
}

h1 {
  font-family: "Palatino Linotype" serif;
  font-weight: 500;
  background-color: #ff4719;
  margin-top: 2;
  padding: 2;

}

a:link {
  font-family: "Palatino Linotype" serif;
  font-weight: normal;
  color: #3399FF;
}
